.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct > img {
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 600;
}

.checkoutProduct__info > button {
    background: linear-gradient(215deg, #c98058, #eb5200);
    margin-top: 10px;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    transition: 0.4s;
    font-weight: 500;
    cursor: pointer;
}

.checkoutProduct__info > button:hover {
    /* opacity: 0.9; */
    background: linear-gradient(35deg, #c98058, #eb5200);
}